.meuuniverso
  height: auto !important
  display: block
  overflow: hidden
  +leader(1.5)
  +trailer(1.5)
  &-header
    .navbar
      .brand
        +trailer(0)
        padding-left: 10px
        padding-right: 10px
