.movie
  &-regulation
    p
      +adjust-font-size-to(16px, 1)
      font-family: 'Open Sans', sans-serif
      +trailer(1)
    i
      font-style: italic

    b,strong
      font-weight: 900
    a
      text-decoration: underline
      color: $color-palette-1