body {
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../images/fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.all {
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.brand-mobile-only {
    display: none;
}

.slogan {
    width: 1100px;
    position: relative;
    overflow: hidden;

}
.slogan .slogan-img {
    float: left;
    width: 707px;
}

.brand {
    position: absolute;
    width: 505px;
    top: 50%;
    margin-top: -252.5px;
    right: 0;


}
.brand img {
    width: 100%;
}

.sub {
    position: absolute;
    width: 563px;
    bottom: 0;
    right: 0;
}
.sub img {
    width: 100%;
}

.edition {
    width: 1100px;
    margin-top: 50px;
    text-align: right;
}
.edition img {
    width: 212px;
}

@media only screen and (max-width: 1200px) {
    .slogan {
        width: 700px;
    }
    .slogan .slogan-img {
        width: 455px;
    }
    .brand {
        width: 323px;
        margin-top: -164px;
    }
    .sub {
        position: absolute;
        width: 352px;
    }
    .edition {
        width: 700px;
        margin-top: 30px;
    }
    .edition img {
        width: 138px;
    }
}

@media only screen and (max-width: 800px) {
    .all {
        padding: 18px;
    }
    .slogan {
        width: 450px;
    }
    .slogan .slogan-img {
        width: 294px;
    }
    .brand {
        width: 212px;
        margin-top: -106px;
    }
    .sub {
        position: absolute;
        width: 232px;
    }
    .edition {
        width: 450px;
        margin-top: 20px;
    }
    .edition img {
        width: 90px;
    }
}

@media only screen and (max-width: 500px) {
    .wrapper {
        height: 100%;
    }
    .all {
        padding: 32px;
        position: relative;
        top: inherit;
        left: inherit;
        transform: none;
    }
    .brand {
        display: none;
    }
    .brand-mobile-only {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    .brand-mobile-only img {
        width: 100%;
    }
    .slogan {
        width: 100%;
        position: relative;
        overflow: hidden;

    }
    .slogan .slogan-img {
        float: none;
        width: 100%;
    }

    .sub {
        position: relative;
        width: 100%;
        margin-top: 20px;
    }
    .sub img {
        width: 100%;
    }

    .edition {
        width: 100%;
        margin-top: 20px;
        text-align: right;
    }
    .edition img {
        width: 120px;
    }
}