.DS_Store
.buildpath
.classpath
.project
.zfproject.xml
.settings/
.idea/
.metadata/
LICENSE.txt
README.md
node_modules
.sass-cache
._.DS_Store
public/assets/admin/.sass-cache
public/assets/admin/node_modules
/vendor
/data/cache
/data/DoctrineORMModule
/data/reports/output
config/autoload/local.php
config/autoload/*.local.php
.htaccess
php_errors.log
composer.lock