//------------------------------------*\
//    #VARIABLES
//------------------------------------*/

//
// Colors
//
$color-txt: #333

$color-palette-1: #F15A22
$color-palette-2: #999999

//
// Transitions
//
$transition-default: all 200ms linear, z-index 0ms, display 0ms
$transition-lazy: all 250ms linear, z-index 0ms, display 0ms
$transition-default-with-delay: all 200ms linear 200ms, z-index 0ms, display 0ms

//
// Social medias
//
//$share-names: facebook, twitter, gplus, youtube, linkedin
//$share-colors: #3b5998, #00aced, #dd4b39, #bb0000, #007bb6

////////// Using:
//$social: zip($share-names, $share-colors)
//@each $a in $social
//  .social-#{nth($a, 1)}
//    &:hover
//      .share-link
//        background-color: nth($a, 2)
