.header
	+center($full-site, 30px)
	position: relative

	&-left,
	&-right
		+box-sizing(border-box)

	&-left
		float: left
		position: relative
		+leader(2.5)
		+trailer(2.5)

		.menu-button,
		.header__search
			//+span(1/2)
			float: left
			clear: none
			text-align: inherit
			margin-left: 0
			margin-right: 0

		.header__search
			margin-left: 30px
			.icon-search
				float: left
				color: $main-color
				font-size: 19px
				padding-right: 15px

			.header__search-form
				float: left
				.header__search-input
					color: $gray838
					font:
						family: "Ubuntu", Arial, Helvetica, sans-serif
						style: italic
						size: 18px
						weight: 300
					width: 100%
					padding-left: 12px
					padding-right: 12px
					background-color: transparent
					border: none
					border:
						bottom:
							style: solid
							width: 1px
							color: $main-color

					outline: none
					+box-sizing(border-box)

					&::-webkit-input-placeholder
						color: $gray838

					&:-moz-placeholder
						color: $gray838

					&::-moz-placeholder
						color: $gray838

					&:-ms-input-placeholder
						color: $gray838

	&-right
		//+col(4/6)
		text-align: right
		float: right
		.brand
			+leader(1.5)
			+trailer(1.5)
			width: 100%
			.brand-link
				+inline-block
				width: 100%
				.brand-logo
					display: block
					text-indent: 100%
					white-space: nowrap
					overflow: hidden
					background-image: url("../images/brand-cineop.png")
					background-repeat: no-repeat
					width: 340px
					height: 72px



.mainmenu-modal-active
	.header-left--mainmenu
		//position: fixed
		//top: 0
		//z-index: 1000

		.header__search
			.icon-search
				color: #fff

		.header__search-form
			.header__search-input
				color: #fff
				border:
					bottom:
						color: #fff
				&::-webkit-input-placeholder
					color: #fff

				&:-moz-placeholder
					color: #fff

				&::-moz-placeholder
					color: #fff

				&:-ms-input-placeholder
					color: #fff

	//&-right
	//	float: right


+media('<tablet')

	.header-right
		display: block
		left: none
		width: 100%
		margin-right: auto
		margin-left: auto
		text-align: center
	.header-right .brand
		+leader(0.5)
		+trailer(0.5)


	.header-left
		+leader(1.5)
		+trailer(1.5)

	.header__search-form
		display: none

+media('<tablet')
	.header-right
		width: 100%
		display: block
		margin-left: auto
		margin-right: auto

	.header-right .brand .brand-link .brand-logo
		margin-left: auto
		margin-right: auto
+media('<=397px')
	.header-right .brand .brand-link .brand-logo
		width: 100%
		background-size: contain
		background-position: center