//------------------------------------*\
//    #TRICKS
//------------------------------------*/

$font-family-base: 'Roboto', sans-serif
$font-family-alternate: 'Roboto Slab', serif

//
// Compass definitions
//
$legacy-support-for-ie8: true
$experimental-support-for-svg: true
$inline-block-alignment: bottom
$userselect-support-threshold: $graceful-usage-threshold
$input-placeholder-support-threshold: $graceful-usage-threshold
// Sizes

$full-site: 1140px
$gutter: 20px

//
// Jeet config
//
$jeet: (gutter: 1.754385964912281, max-width: 1140px, layout-direction: LTR, parent-first: false)