//------------------------------------*\
//    #VARIABLES
//------------------------------------*/

//
// Colors
//
$color-txt: #484848

$color-bg: #f7f7f7
$color-selection-txt: #fff
$color-selection-bg: #c00
$color-link: #333
$color-dark: #000

$color-palette-1: #292929
$color-palette-2: #09b9aa
$color-palette-3: #ee5754

$color-palette-4: #13bbb4
$color-palette-5: #94e8ca


//Cores 2018
$color-1: #00a69c
$color-2: #2091a2
$color-3: #c9da2e
$color-4: #d3d805

//
// Transitions
//
$transition-default: all 200ms linear, z-index 0ms, display 0ms
$transition-lazy: all 250ms linear, z-index 0ms, display 0ms
$transition-default-with-delay: all 200ms linear 200ms, z-index 0ms, display 0ms

//
// Social medias
//
//$share-names: facebook, twitter, gplus, youtube, linkedin
//$share-colors: #3b5998, #00aced, #dd4b39, #bb0000, #007bb6

////////// Using:
//$social: zip($share-names, $share-colors)
//@each $a in $social
//  .social-#{nth($a, 1)}
//    &:hover
//      .share-link
//        background-color: nth($a, 2)
