.home
	.header
		padding-left: 36px
		padding-right: 36px
		border: none
		padding-bottom: 0

		&__left
			.brand
				&-logo,
				&-name
					color: #fff

		&__right
			.usermenu
				&__link
					color: #fff

.home
	.site__wrapper
		position: relative
		width: 100%
		max-width: 100%
		padding-left: 0
		padding-right: 0


.fullslider
	position: absolute
	max-width: initial
	width: 100%
	height: 100%
	top: 0
	right: 0
	bottom: 0
	left: 0
	overflow: hidden
	z-index: 10

.home-slider
	display: inline-block
	width: 100%
	height: 100%

	&__slide
		display: inline-block
		width: 100%
		height: 100%
		&--img
			background-repeat: no-repeat
			background-position: 0 0
			background-size: cover
			&:before
				content: ""
				position: absolute
				top: 0
				bottom: 0
				//left: -100%
				width: 100%
				right: 0
				background-color: rgba(0,0,0,0.1)
				z-index: 1

	&__text
		position: absolute
		z-index: 10
		max-width: 700px

		//top
		&.left-top
			top: $base-line-height * 7
			left: 36px
			.home-slider__title,
			.home-slider__subtitle
				float: left
				text-align: left
				clear: both
		&.right-top
			top: $base-line-height * 7
			right: 36px
			.home-slider__title,
			.home-slider__subtitle
				float: right
				text-align: right
				clear: both
		&.center-top
			top: $base-line-height * 7
			text-align: center
			left: 50%
			transform: translateX(-50%)
			.home-slider__title,
			.home-slider__subtitle
				text-align: center

		//center
		&.left-center
			top: 50%
			left: 36px
			transform: translateY(-50%)
			.home-slider__title,
			.home-slider__subtitle
				float: left
				text-align: left
				clear: both
		&.right-center
			top: 50%
			right: 36px
			transform: translateY(-50%)
			.home-slider__title,
			.home-slider__subtitle
				float: right
				text-align: right
				clear: both
		&.center-center
			text-align: center
			left: 50%
			top: 50%
			transform: translate(-50%, 50%)
			.home-slider__title,
			.home-slider__subtitle
				text-align: center

		//bottom
		&.left-bottom
			bottom: $base-line-height * 5
			left: 36px
			.home-slider__title,
			.home-slider__subtitle
				float: left
				text-align: left
				clear: both
		&.right-bottom
			bottom: $base-line-height * 5
			right: 36px
			transform: translateY(-50%)
			.home-slider__title,
			.home-slider__subtitle
				float: right
				text-align: right
				clear: both
		&.center-bottom
			text-align: center
			left: 50%
			bottom: $base-line-height * 5
			transform: translateX(-50%)
			.home-slider__title,
			.home-slider__subtitle
				text-align: center

	&__title
		+adjust-font-size-to(48px, 2)
		font-weight: 900
		background-color: $main-color
		color: #fff
		display: inline-block
		padding: 8px

	&__subtitle
		+adjust-font-size-to(24px, 1)
		font-weight: 400
		background-color: #fff
		color: $color-txt
		padding: 8px
		margin-top: 10px

.home-slider-dots
	position: absolute
	bottom: 0
	width: 100%
	text-align: center
	margin: 0 auto
	+trailer(2)
	z-index: 20

	li
		display: inline-block
		margin-right: 8px
		margin-left: 8px
		&.slick-active
			button
				border: 2px solid $main-color

		button
			display: block
			width: 24px
			height: 24px
			border-radius: 50%
			border: 2px solid #fff
			background-color: transparent
			outline: 0
			text-indent: -99999px
			cursor: pointer

			&:focus
				outline: 0

