.home
  .main
    height: 100%

  .banner
    position: relative
    top: 0
    width: 100%
    height: 100%
    -webkit-tap-highlight-color: transparent
    z-index: 1

    .owl-carousel
      height: 100%
      width: 100%

    .owl-stage-outer,
    .owl-stage,
    .owl-item,
    .owl-slide
      height: 100%

    &-slide
      background-size: cover
      background-repeat: no-repeat
      background-position: center

    &-content
      width: 100%
      position: absolute
      bottom: 0
      &:before
        position: absolute
        display: block
        content: ""
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: linear-gradient(to bottom,rgba(0,0,0,0) 30%, rgb(0,0,0))

    &-wrapper
      +center($pad:116px)

    &-title
      position: relative
      +adjust-font-size-to(36px)
      +trailer(3)
      +leader(4)
      font-weight: 900
      color: white
      letter-spacing: .04em
      z-index: 1000

    .mouse-bottom
      position: absolute
      +adjust-font-size-to(24px)
      color: white
      text-decoration: none
      z-index: 99999
      +trailer(1, 24px)
      bottom: 0
      left: 50%
      transform: translateX(-50%)

  .news
    background-color: black
    +padding-leader(3)
    +padding-trailer(3)

    &-wrapper
      +center($pad: 16px)

    &-title
      +adjust-font-size-to(48px, 2)
      color: $color-palette-1
      font-weight: 300
      text-align: center

    &-header
      &--home
        +trailer(3)
      h1
        color: white

    &-readmore
      text-align: right
      a
        color: $color-palette-4
        &:hover
          color: white


  .channel
    background-color: $color-palette-3
    +padding-leader(3)
    +padding-trailer(3)

    &-header
      +trailer(2)
      padding-right: 60px
      padding-left: 60px

    &-title
      +adjust-font-size-to(48px)
      color: $color-palette-2
      font-weight: 900

    &-readmore
      text-align: right
      a
        color: $color-palette-4
        &:hover
          color: white

  .gallery
    &-row
      position: relative
      display: block
      clear: both
      overflow: hidden
      .col
        width: 50%
        float: left
        .gallery-item
          width: 50%

    &-item
      display: block
      position: relative
      overflow: hidden
      width: 25%
      float: left
      margin: 0
      line-height: 0

    &-link
      display: block
      width: 100%
      outline: 0

    &-img
      width: 100%

    &-header
      .wrapper
        text-align: right
        padding: 60px
        box-sizing: border-box
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%)

    &-title
      +adjust-font-size-to(48px, 2.5)
      +trailer(3.5, 48px)
      font-weight: 900
      color: black
      letter-spacing: .110em
      text-transform: uppercase

    &-subtitle
      +adjust-font-size-to(36px)
      color: black
      letter-spacing: .01em
      text-decoration: none
      &>span
        display: inline-block
        vertical-align: middle
        margin-left: 10px
        .name, .icon
          display: block
          text-align: center

        .icon
          font-size: 45px
          line-height: inherit

        .name
          font-size: 22px
          line-height: 22px
          font-weight: 900

