.home
  .banner
    position: relative
    width: 100%
    height: calc(100% - 84px)
    -webkit-tap-highlight-color: transparent
    z-index: 1

    .owl-carousel
      width: 100%

    .owl-carousel,
    .owl-stage-outer,
    .owl-stage,
    .owl-item
      height: 100%
      background-color: black

    .owl-slide
      height: calc(100% - 120px)

    .owl-dots
      position: absolute
      bottom: 0
      width: 100%
      text-align: center
      margin-bottom: 70px

      .owl-dot
        width: 15px
        height: 15px
        margin: 0 8px
        display: inline-block
        border: 1px solid white
        border-radius: 100%
        transition: $transition-default
        opacity: .3
        &.active
          background-color: white

    &-slide
      background-repeat: no-repeat
      background-position: center center
      background-size: cover

    &-figure
      position: relative
      width: 100%

    &-copy
      position: absolute
      bottom: 0
      right: 0
      +adjust-font-size-to(14px)
      font-style: italic
      color: $color-palette-5
      padding: 10px
      z-index: 9000
      opacity: .3
      background-color: black

    &-content
      width: 100%
      min-height: 100px
      +trailer(1)
      //background-color: black

    &-wrapper
      +center($pad:116px)
      text-align: center

    &-title
      position: relative
      +adjust-font-size-to(24px, 1)
      +padding-leader(1)
      font-weight: 700
      color: white
      letter-spacing: .04em
      z-index: 1000

    &-link
      text-decoration: none
      color: inherit

    .mouse-bottom
      position: absolute
      font-size: 20px
      line-height: 20px
      text-align: center
      padding-top: 8px
      padding-bottom: 8px
      margin-bottom: 15px
      width: 36px
      //height: 36px
      border: 1px solid white
      border-radius: 100%
      color: white
      text-decoration: none
      z-index: 99999
      bottom: 0
      left: 50%
      opacity: .5
      transform: translateX(-50%)
      &:hover
        opacity: 1
      span
        display: block
        line-height: inherit

  .news
    background-color: black
    +padding-leader(2)
    +padding-trailer(3)

    &-wrapper
      +center($pad: 16px)

    &-title
      +adjust-font-size-to(36px, 2)
      +trailer(1, 48px)
      //+leader(1, 48px)
      color: $color-palette-1
      font-weight: 300
      text-align: center
      text-transform: uppercase

    &-link
      font-weight: normal
    
    &-header
      &--home
        +trailer(3)
      h1
        color: white

    &-readmore
      text-align: right
      a
        color: $color-palette-1
        &:hover
          color: white


  .channel
    background-color: $color-palette-3
    +padding-leader(3)
    +padding-trailer(3)

    &-row
      padding: 0 60px

    &-header
      +trailer(2)
      padding-right: 60px
      padding-left: 60px

    &-title
      +adjust-font-size-to(48px)
      color: $color-palette-1
      font-weight: 900

    &-content
      .title,
      .date
        color: $color-palette-5

    &-readmore
      text-align: right
      width: 100%
      display: inline-block
      +leader(4)
      a
        color: $color-palette-1
        &:hover
          color: white

    .owl-carousel
      .owl-stage-outer
        overflow: visible
        padding-bottom: 0

      .owl-nav
        .owl-next, .owl-prev
          width: 60px
          height: 100%
          top: 0
          margin-top: 0
          transform: none
          button
            background-color: rgba(0, 0, 0, .6)
            font-size: 36px
        .owl-next
          right: -60px

        .owl-prev
          left: -60px

  .gallery
    background-color: black
    &-row
      position: relative
      display: block
      clear: both
      overflow: hidden
      .col
        width: 50%
        float: left
        .gallery-item
          width: 50%

    &-item
      display: block
      position: relative
      overflow: hidden
      width: 25%
      float: left
      margin: 0
      line-height: 0

    &-link
      display: block
      width: 100%
      outline: 0

    &-img
      width: 100%

    &-header
      &--mobile
        padding-left: 16px
        padding-right: 16px
        display: none
        visibility: hidden
        opacity: 0

        .gallery-title
          +leader(1.5)
          text-align: center

        .gallery-subtitle
          display: block
          text-align: right

      .wrapper
        text-align: right
        padding: 60px
        box-sizing: border-box
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%)
        margin-right: 5%

    &-title,
    &-subtitle
      color: $color-palette-1

    &-title
      +adjust-font-size-to(48px, 2.5)
      +trailer(3.5, 48px)
      font-weight: 900
      //color: black
      //letter-spacing: .110em
      text-transform: uppercase

    &-subtitle
      +adjust-font-size-to(36px)
      //color: black
      letter-spacing: .01em
      text-decoration: none
      &>span
        display: inline-block
        vertical-align: middle
        margin-left: 10px
        .name, .icon
          display: block
          text-align: center

        .icon
          font-size: 45px
          line-height: inherit

        .name
          font-size: 22px
          line-height: 22px
          font-weight: 900


  +media("<=1024px")
    .gallery
      .wrapper
        padding: 20px
      .gallery-title
        +adjust-font-size-to(36px)
        letter-spacing: 0

      .gallery-subtitle
        +adjust-font-size-to(24px)


  +media("<=768px")
    .gallery
      .gallery-header
        &--mobile
          display: block
          visibility: visible
          opacity: 1

      .col
        display: block
        width: 100%
        float: none
        overflow: hidden
        &--header
          display: none
        .gallery-item
          width: 50%

      .gallery-item
        width: 50%

      .wrapper
        padding: 0
        position: relative
        transform: none
        bottom: 0
        top: auto

  +media("<=600px")
    .banner
      &-wrapper
        +center($pad:16px)

    .news
      &-title
        +adjust-font-size-to(36px, 1.5)
        +trailer(1, 36px)
        +leader(1, 36px)