.footer
  +padding-leader(3)
  background-color: $color-palette-1

  &-wrapper
    +center($pad:8px)

  &-contact
    width: 60%
    float: left

  &-social
    width: 40%
    float: left

  &-copy
    clear: both
    text-align: center
    +padding-leader(1.5, 12px)
    +trailer(1.5, 12px)
    border-top: 1px solid white

  &-title
    +adjust-font-size-to(12px)
    +trailer(2, 12px)
    color: white
    text-transform: uppercase
    letter-spacing: 0.1em

  .icon-universo-brand
    color: white
    font-size: 110px
    display: inline-block
    vertical-align: top

  &-add
    +adjust-font-size-to(14px)
    color: white
    text-transform: uppercase
    letter-spacing: 0.1em
    display: inline-block
    vertical-align: top
    margin-left: 40px

  &-socialitem
    +column(1/5)

  &-socialink
    +adjust-font-size-to(27px, 2)
    color: white
    &:hover
      color: $color-palette-2
