.header
  position: relative
  width: 100%
  background-color: black
  //&-bgc
  //  background: url("../images/header-bg.jpg") no-repeat top left
  //  background-size: 100% 100%

  &-wrapper
    +center
    background: url("../images/header-bg-wrapper.png") no-repeat center center

  .brand,
  .brand-right
    float: left
    width: 50%
    padding-left: 10%
    padding-right: 10%
    box-sizing: border-box

  .brand
    vertical-align: middle
    +trailer(2)
    +leader(2)
    &-link
      color: white
    .icon-brand
      display: block
      float: left
      font-size: 144px

  .brand-right
    vertical-align: middle
    text-align: right
    +trailer(3)
    +leader(3)

  .name
    +adjust-font-size-to(30px, 1.5)
    font-weight: 700
    text-transform: uppercase
    color: white
    vertical-align: middle
    & > span
      +adjust-font-size-to(22px, 1, 30px)
      +leader(.5, 22px)
      display: block
      font-weight: normal !important
    
  .social
    +leader(1)
    &-item
      display: inline-block
      margin-right: 19px
      text-align: center
      &:last-child
        margin-right: 0

    &-link
      display: block
      width: 36px
      height: 36px
      border-radius: 50%
      background-color: white
      +adjust-font-size-to(18px, 2)
      span
        color: $color-palette-4
        line-height: inherit