.footer
  +padding-leader(3)
  position: relative
  background-color: black

  &-wrapper
    +center(780px, $pad:20px)
    +trailer(2)

  &-contact
    +media(">=tablet")
      width: 70%
      float: left
    +media("<tablet")
      width: 100%

  &-social
    +media(">=tablet")
      width: 30%
      float: left
    +media("<tablet")
      width: 100%

  &-copy
    +center($pad: 20px)
    +padding-leader(1, 12px)
    +padding-trailer(1, 12px)
    +adjust-font-size-to(14px)
    color: white
    display: block
    text-align: center
    text-transform: uppercase
    border-top: 1px solid white

  &-title
    +trailer(1.5, 14px)
    +adjust-font-size-to(14px)
    font-family: $font-family-title
    color: white
    text-transform: uppercase
    letter-spacing: 0.1em

  .icon-universo-producao
    color: white
    font-size: 80px
    display: inline-block
    vertical-align: top

  &-add
    +adjust-font-size-to(12px)
    color: white
    text-transform: uppercase
    letter-spacing: 0.1em
    vertical-align: top
    +media(">=480px")
      margin-left: 40px
      display: inline-block
    +media("<480px")
      display: block

  &-socialitems
    display: block
    overflow: hidden

  &-socialitem
    +column(1/3)
    +trailer(1)

  &-socialink
    +adjust-font-size-to(26px, 2)
    text-decoration: none
    color: white
    transition: $transition-default
    &:hover
      color: $color-txt