.header
  width: 100%
  position: relative

  &-bgc
    position: relative
    display: block
    width: 100%
    img
      width: 100%
      line-height: 0

  &-mobile
    +media(">=tablet")
      display: none
    +media("<tablet")
      display: block

  &-desk
    +media("<tablet")
      display: none

  &-actions
    position: absolute
    text-align: center
    right: 48px
    top: 50%
    transform: translateY(-50%)
    .action
      display: block
      vertical-align: middle

    .langselector
      +leader(.5)
      font-family: $font-family-title
      font-weight: 700
      text-decoration: none
      text-transform: uppercase
      color: white
      span
        color: white !important
      &:hover
        color: $color-palette-1

    .menu-button
      text-align: center
      cursor: pointer
      //+padding-trailer(5.75)
      //+padding-leader(5.75)
      display: inline-block
      span
        +adjust-font-size-to(14px, 1.5)
        font-weight: 700
        color: black
        text-transform: uppercase
        display: block
      .circle
        display: block
        width: 54px
        height: 54px
        border-radius: 50%
        background-color: white
        position: relative
        .burger
          width: 30px
          height: 26px
          transform: rotate(0deg)
          position: absolute
          top: 50%
          left: 50%
          margin-left: -15px
          margin-top: -13px
          .b,b
            position: absolute
            display: block
            height: 5px
            width: 100%
            border-radius: 20px
            background-color: #000
            left: 0
            transform: rotate(0deg)
            &:nth-child(1)
              top: 0
            &:nth-child(2),
            &:nth-child(3)
              top: 10px
            &:nth-child(4)
              top: 20px

+media("<=765px")
  .header
    text-align: center
    display: block
    height: auto
    &-actions
      top: 24px
      right: 24px
      transform: none
      .langselector
        +leader(.5)