.button
  &-readmore
    display: inline-block
    +adjust-font-size-to(18px, 1)
    +padding-trailer(.5)
    +padding-leader(.5)
    padding-left: 40px
    padding-right: 40px
    background-color: $color-palette-2
    color: white
    text-transform: uppercase
    font-family: 'Share Tech Mono', monospace
    box-shadow: -5px 5px 0px 0px $color-palette-3
    transition: $transition-default
    &:hover
      background-color: #871E2C
    &:active
      background-color: #691722
      box-shadow: -3px 3px 0px 0px $color-palette-3

.circle-button
  display: inline-block
  width: 72px
  height: 72px
  border-radius: 100%
  color: $color-palette-1
  font-size: 40px
  line-height: 72px
  text-align: center
  vertical-align: middle
  i
    line-height: inherit