.news
  &-items
    display: block
    width: 100%
    overflow: hidden

  &-item
    +column(1/3, $cycle:3)
    padding-left: 15px
    padding-right: 15px
    &:first-child
      padding-left: 0
    &:last-child
      padding-right: 0

  &-figure
    display: block
    position: relative
    overflow: hidden
    line-height: 0
    img
      width: 100%
      transition: $transition-default

  &-title
    font-family: $font-family-title
    font-weight: 700
    +trailer(1)

  &-subtitle
    +adjust-font-size-to(16px, 1, 18px)
    +trailer(1, 16px)

  &-readmore
    font-family: $font-family-title
    font-weight: 700

  &-link
    text-decoration: none
    color: $color-txt
    transition: $transition-default
    &:hover
      color: $color-palette-2
      img
        transform: scale(1.1)