figure
  line-height: 0
  display: inline-block
  +trailer(1)
  figcaption
    +adjust-font-size-to(14px, 1)
    +padding-trailer(1, 14px)
    +padding-leader(1, 14px)
    font-style: italic
    color: #fff
    padding-left: 19px
    padding-right: 19px
    background-color: $color-palette-7
    strong
      +adjust-font-size-to(18px, 1)
      font-style: normal
      font-weight: 700
      display: block
    p
      +trailer(0)

.image
  &.align-left
    float: left
    padding: 0 30px 30px 0
  &.align-right
    float: right
    padding: 0 0 30px 30px