.header
  width: 100%
  height: 288px
  background-image: url("../images/2018/header.jpg")
  background-repeat: no-repeat
  background-size: cover

  &-mobile
    display: none

  &-wrapper
    +center(1760px, $pad:20px)

  &-info
    +padding-trailer(4)
    +padding-leader(4)
    float: left
    .info-date
      +adjust-font-size-to(27px, 2.5)
      font-family: $font-family-title
      font-weight: 700
      color: white
      text-transform: uppercase
      span
        display: block
        +adjust-font-size-to(21px, 1.5, 27px)
        
  &-actions
    float: right

    .action
      display: inline-block
      vertical-align: middle

    .langselector
      font-family: $font-family-title
      font-weight: 700
      text-decoration: none
      text-transform: uppercase
      margin-right: 10px
      color: white
      &:hover
        color: $color-palette-1

    .menu-button
      text-align: center
      cursor: pointer
      +padding-trailer(5.75)
      +padding-leader(5.75)
      display: inline-block
      span
        +adjust-font-size-to(14px, 1.5)
        font-weight: 700
        color: $color-palette-1
        text-transform: uppercase
        display: block
      .circle
        display: block
        width: 54px
        height: 54px
        border-radius: 50%
        background-color: $color-palette-1
        position: relative
        .burger
          width: 30px
          height: 26px
          transform: rotate(0deg)
          position: absolute
          top: 50%
          left: 50%
          margin-left: -15px
          margin-top: -13px
          .b,b
            position: absolute
            display: block
            height: 5px
            width: 100%
            border-radius: 20px
            background-color: #000
            left: 0
            transform: rotate(0deg)
            &:nth-child(1)
              top: 0
            &:nth-child(2),
            &:nth-child(3)
              top: 10px
            &:nth-child(4)
              top: 20px

+media("<=765px")
  .header
    text-align: center
    background-color: #ff5d52
    background-image: none
    padding-top: 15px
    padding-bottom: 15px
    display: block
    height: auto
    &-mobile
      display: block
      .brand
        img
          width: 100%
        .cinebh
          max-width: 200px
        .brasil
          max-width: 206px
      p
        margin-top: 10px
        text-transform: uppercase
        color: white



    &-brand, &-info, &-actions
      width: 100%
      display: block
      float: none



    &-info
      +padding-trailer(2)
      +padding-leader(0)

    &-actions
      .menu-button
        +padding-trailer(2)
        +padding-leader(0)