p, th, td
  +trailer(1)

strong, b
  font-weight: bold

sup
  font-size: 70%
  line-height: 0
  position: relative
  vertical-align: baseline
  top: -0.5em

em
  font-style: italic

.clean-paragraph
  display: block
  +trailer(2)

  p
    +trailer(.5)