.menu-button
	.burger
		width: 32px
		height: 22px
		position: relative
		transform: rotate(0deg)
		transition: .5s ease-in-out
		cursor: pointer
		text-align: center
		margin: 0 auto

		.b, b
			display: block
			position: absolute
			height: 3px
			width: 100%
			background: $main-color
			opacity: 1
			left: 0
			transform: rotate(0deg)
			transition: .25s ease-in-out

			&:nth-child(1)
				top: 0

			&:nth-child(2),
			&:nth-child(3)
				top: 9px

			&:nth-child(4)
				top: 18px