.modal-close
	position: absolute
	top: 0
	right: 0
	padding-right: 36px
	+leader(1.5, 24px)
	a
		color: $color-txt
		display: block
		position: relative
		+adjust-font-size-to(36px, 2)
		+padding-leader(.5, 36px)
		+padding-trailer(.5, 36px)
		width: 72px
		text-align: center
		text-decoration: none