//------------------------------------*\
//    #VARIABLES
//------------------------------------*/

//
// Colors
//

$main-color: #f15a22

$color-txt: #646464
$color-bg: #f7f7f7
$color-selection-txt: #fff
$color-selection-bg: #c00
$color-link: #333
$color-dark: #000
$color-palette-1: #fe5f6f
$color-palette-2: #b7afad
$color-palette-3: #e5e5e5
$color-palette-4: #81d3c0
$color-palette-5: #94e8ca

//social
$color-facebook: #3c5a98
$color-twitter: #55acee

//
// Transitions
//
$transition-default: all 200ms linear, z-index 0ms, display 0ms
$transition-lazy: all 250ms linear, z-index 0ms, display 0ms
$transition-default-with-delay: all 200ms linear 200ms, z-index 0ms, display 0ms
