//------------------------------------*\
//    #VARIABLES
//------------------------------------*/

//
// Colors
//

$main-color: #f15a22

$color-txt: #4a4a4a

$color-selection-txt: #fff
$color-selection-bg: #d76739

$color-bg-1: #d76739
$color-bg-2: #79BD8F
$color-bg-3: #79A6BD

$color-palette-1: #b9b9b9
$color-palette-2: #b7afad
$color-palette-3: #f4f4f4
$color-palette-4: #343233
$color-palette-5: #414042
$color-palette-6: #dcdcdc
$color-palette-7: #222
$color-palette-8: #999



//social
$color-facebook: #3c5a98
$color-twitter: #55acee

//
// Transitions
//
$transition-default: all 200ms linear, z-index 0ms, display 0ms
$transition-lazy: all 250ms linear, z-index 0ms, display 0ms
$transition-default-with-delay: all 200ms linear 200ms, z-index 0ms, display 0ms
