//------------------------------------*\
//    #TRICKS
//------------------------------------*/

//
// Compass definitions
//
$legacy-support-for-ie8: true
$experimental-support-for-svg: true
$inline-block-alignment: bottom
$userselect-support-threshold: $graceful-usage-threshold
$input-placeholder-support-threshold: $graceful-usage-threshold
