//------------------------------------*\
//    #VARIABLES
//------------------------------------*/

//
// Colors
//
$color-txt: #646464
$color-bg: #f7f7f7
$color-selection-txt: #fff
$color-selection-bg: #c00
$color-link: #333
$color-dark: #000
$color-palette-1: #fe5f6f
$color-palette-2: #b7afad
$color-palette-3: #e5e5e5
$color-palette-4: #81d3c0
$color-palette-5: #94e8ca

//
// Transitions
//
$transition-default: all 200ms linear, z-index 0ms, display 0ms
$transition-lazy: all 250ms linear, z-index 0ms, display 0ms
$transition-default-with-delay: all 200ms linear 200ms, z-index 0ms, display 0ms

//
// Social medias
//
//$share-names: facebook, twitter, gplus, youtube, linkedin
//$share-colors: #3b5998, #00aced, #dd4b39, #bb0000, #007bb6

////////// Using:
//$social: zip($share-names, $share-colors)
//@each $a in $social
//  .social-#{nth($a, 1)}
//    &:hover
//      .share-link
//        background-color: nth($a, 2)
