.programacao
  a
    text-decoration: none

  td
    margin-bottom: 0
    vertical-align: top
    padding: 8px

  span, strong
    text-transform: uppercase

  tr
    border-bottom: 1px solid $color-palette-2

  td
    text-align: left
    //padding: 4px
    //padding-left: 18px
    padding-right: 18px
    border-left: 1px solid $color-palette-2
    text-transform: uppercase
    h5
      text-transform: uppercase
      a
        text-transform: uppercase
        text-decoration: none
        color: $color-palette-2 !important

  th
    text-align: left
    width: 30%
    padding: 4px
    text-transform: uppercase
    h5
      color: $color-palette-2
      text-transform: uppercase

  h5
    font-weight: 700
    text-transform: uppercase
    +trailer(1)

  h6
    +adjust-font-size-to(14px, 1)
    text-transform: uppercase

  .titListaProg
    +adjust-font-size-to(24px)
    font-weight: 700
    color: $color-palette-2
    text-transform: uppercase

.form-filter
