.main
  &__title
    font-family: 'Fjalla One', sans-serif
    text-transform: uppercase
    +adjust-font-size-to(48px, 2)
    +trailer(2, 48px)
    color: $color-palette-7

  &__wrapper
    +container(964px)
    padding-left: 30px
    padding-right: 30px
    position: relative

  &__figure
    line-height: 0