.mainmenu
  &-modal
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 0
    visibility: hidden
    overflow: hidden
    z-index: 9000
    transition: opacity .35s, visibility .35s, height .35s
  &-bgc
    width: 100%
    height: 100%
    background-color: $color-palette-7

  &__wrapper
    +container(984px)
    padding-left: 30px
    padding-right: 30px

  .back
    width: 100%
    text-align: center
    +leader(3)
    a
      font-family: 'Fjalla One', sans-serif
      color: #fff
      border-bottom: 1px solid #fff
      padding-bottom: 5px

  &__header
    width: 100%
    display: inline-block
    &-left
      width: 60%
      float: left
    &-right
      width: 40%
      float: left
      text-align: right
    .brand
      margin-left: 48px
      +trailer(2)
      +leader(2)
      &__link
        font-size: 120px
        line-height: 144px
        color: #fff

    .usermenu
      &__list
        text-align: right
        +trailer(3)
        +leader(3)
        margin-right: 72px
      &__item
        display: inline-block

      &__link
        font-size: 36px
        line-height: 48px
        color: #fff
        width: 96px
        display: block
        text-align: center
        +trailer(.5)
        +leader(.5)


  &__list
    display: inline-block

  &__item
    +trailer(.5)
    +grid(1, 6, $cycle:6)
    >.mainmenu__list
      +leader(1)
      .mainmenu__item
        width: 100%
        float: none
        .mainmenu__link
          color: $color-palette-8
          text-transform: none
          &:hover
            border-color: $color-palette-8
  &__link
    font-family: 'Fjalla One', sans-serif
    text-transform: uppercase
    color: #fff
    padding: 7px
    border: 1px solid $color-palette-7
    box-sizing: border-box
    display: inline-block
    &:hover
      border-color: #fff

.mainmenu-active
  top: 0
  position: fixed
  .mainmenu-modal
    opacity: 1
    visibility: visible
    height: 100%