.readmore
  &__link
    font-weight: 800
    text-transform: uppercase
    color: #000
    span
      color: $color-pallete-2
      margin-left: 10px

    &:hover
      color: $color-pallete-2

.circle-link
  display: block
  width: 24px
  height: 24px
  border-radius: 50%
  color: #fff
  +adjust-font-size-to(14px)
  background-color: #000
  text-align: center
  float: right