figure
	line-height: 0
	display: inline-block

	figcaption
		+adjust-font-size-to(12px, .5)
		+leader(.5, 12px)
		+padding-trailer(.5, 12px)
		border-bottom: 1px solid #b9b9b9
		font:
			family: 'Ubuntu'
			style: italic
			weight: 300
		color: #b9b9b9
		p
			+trailer(0)