.form
	display: inline-block
	width: 100%

	&__input,
	&__button,
	&__submit,
	&__select
		+box-sizing(border-box)
		+adjust-font-size-to(18px)
		font-family: $font-family-base
		outline: none

	&__input
		color: $color-palette-1
		width: 100%
		+trailer(.5, 18px)
		+apply-side-rhythm-border(all, 1px, .5, 18px, solid #fff)
		+input-placeholder
			font-style: italic

	&__text
		position: relative
		margin-bottom: 0
		+display-flex()
		.form__input:focus
			outline: none
			+apply-side-rhythm-border(all, 2px, .5, 18px, solid #fff)

	&__button,
	&__submit
		float: right
		padding: 12px 50px
		border: none
		color: #fff
		+inline-block
		+box-sizing(border-box)
		cursor: pointer
		text-align: center
		font-weight: bold
		+adjust-font-size-to(18px)
		//+margin-trailer(1, 18px)
		//&:hover
		//	background-color: lighten(#000, 5%)

	&__select
		@extend .form__input
