//------------------------------------*\
//    #TRICKS
//------------------------------------*/

//
// Base fonts app
//
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700,700italic,300,300italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,700);


//
// Font Icons
//
@font-face {
  font-family: 'Universo-fonticons';
  src:    url('../fonts/Universo-fonticons.eot?p19aaq');
  src:    url('../fonts/Universo-fonticons.eot?p19aaq#iefix') format('embedded-opentype'),
  url('../fonts/Universo-fonticons.ttf?p19aaq') format('truetype'),
  url('../fonts/Universo-fonticons.woff?p19aaq') format('woff'),
  url('../fonts/Universo-fonticons.svg?p19aaq#Universo-fonticons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Universo-fonticons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-universo-producao:before {
  content: "\e904";
}
.icon-brand-universo:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-menu3:before {
  content: "\ec6d";
}
.icon-menu7:before {
  content: "\ec71";
}
.icon-cross:before {
  content: "\ed6c";
}
.icon-cross2:before {
  content: "\ed6d";
}
.icon-arrow-up:before {
  content: "\edb7";
}
.icon-arrow-up2:before {
  content: "\edb8";
}
.icon-instagram:before {
  content: "\eef1";
}
.icon-flickr:before {
  content: "\ef02";
}

