.footer
  +padding-leader(3)

  &-wrapper
    +center($pad: 16px)

  &-contact
    background-color: $color-palette-3
    +padding-leader(2)
    +padding-trailer(1.5)

    .contact, .social
      float: left

    &-title
      +adjust-font-size-to(18px, 1)
      +trailer(2)
      color: white
      font-weight: 900
      text-transform: uppercase

    .contact
      width: 60%
      &-icon
        font-size: 90px
        color: $color-palette-2
        display: inline-block
        vertical-align: top
      &-add
        +adjust-font-size-to(16px, 1)
        color: $color-palette-2
        display: inline-block
        vertical-align: top
        margin-left: 40px
        letter-spacing: .05em

    .social
      width: 40%

      &-items
        +leader(1)

      &-item
        +column(1/5)

      &-link
        +adjust-font-size-to(36px)
        color: $color-palette-2
        text-decoration: none

    .copy
      display: inline-block
      width: 100%
      clear: both
      +padding-leader(2)
      +leader(2)
      border-top: 1px solid white
      p
        +adjust-font-size-to(14px)
        text-transform: uppercase
        text-align: center
        color: white


  +media("<=768px")
    .newsletter-form
      .input,
      .submit
        display: block
        width: 100%

      .input
        +trailer(.5)
        &:first-of-type
          border-right-color: black

    .contact, .social
      float: none
      display: block
      width: 100%

    .contact
      +trailer(1)