.header
  display: block
  position: relative
  width: 100%
  background-color: black
  height: 84px

  //position: absolute
  //top: 0
  //left: 0

  z-index: 100

  &-wrapper
    +center($pad: 16px)
    //text-align: center

  .brand
    vertical-align: middle
    display: inline-block
    margin-right: 18px
    width: 100px
    &>span
      display: none

    &-link
      display: inline-block
      color: white
      text-decoration: none
      .icon
        display: block
        font-size: 60px
        line-height: 84px


  .mainmenu
    display: inline-block
    margin-left: 10px


    &-list
      &--sub
        display: none
        width: 100%
        position: absolute
        top: 100%
        left: 0
        background-color: rgba(241,90,34, .7)
        transform: $transition-default
        z-index: 9999
        ul
          +center($pad: 16px)
          &:before
            display: inline-block
            content: " "
            position: relative
            width: 130px
            height: 100%

    &-item
      display: inline-block
      +padding-leader(1.25)
      +padding-trailer(1.25)
      transition: $transition-default
      &:hover
        background-color: $color-palette-1
        .mainmenu-list--sub
          display: block

    &-link
      display: block
      +adjust-font-size-to(14px, 1, 18px)
      color: white
      text-decoration: none
      text-transform: uppercase
      font-family: "Open Sans"
      font-weight: 700
      letter-spacing: .04em
      margin-right: 8px
      margin-left: 8px

  .links
    display: inline-block
    margin-left: 10px
    float: right
    &-item
      display: inline-block
      width: 84px
      text-align: center

      transition: $transition-default
      &:hover
        background-color: $color-palette-1

    &-action
      +adjust-font-size-to(18px)
      +padding-leader(1.25)
      +padding-trailer(1.25)
      display: block
      color: white
      text-decoration: none


  +media(">768px")
    #manu-btn
      display: none

  +media("<=768px")

    .brand
      float: left

    .mainmenu
      position: absolute
      width: 100%
      top: 100%
      left: 0
      margin: 0
      text-align: center
      background-color: $color-palette-1
      display: none
      transition: $transition-default

      &-active
        display: block

      &-list
        padding-right: 0
        padding-left: 0
        &--sub
          position: relative
          background-color: #8C241B
          ul
            padding-right: 0
            padding-left: 0

      &-item
        display: block
        +padding-leader(.5)
        +padding-trailer(.5)

    #manu-btn
      display: inline-block
      &:hover
        .mainmenu
          display: block


    .links
      float: right
