html, body


body
  overflow-y: scroll
  overflow-x: hidden
  margin: 0
  padding: 0
  min-height: 100vh
  background-color: #fff
  color: $color-txt
  font:
    family: $font-family-base
    weight: 400
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale