html, body
	height: 100%
	width: 100%

+establish-baseline

body
	@if $debug
		+baseline-grid-background
	overflow-y: scroll !important
	min-height: 100vh
	background-color: #fff
	font:
		family: $font-family-base
		weight: 400
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	overflow-y: scroll !important
	overflow-x: hidden

+selection($color-palette-1, #fff)