.meuuniverso
  &-brand
    +adjust-font-size-to(24px)
    +trailer(1.5)
    color: $color-txt
    text-transform: uppercase
    font-weight: 300
    &--center
      text-align: center
    strong
      font-weight: 900 !important