.table-movie
  &-event
    display: inline-block
    padding-top: 5px
    padding-bottom: 10px
    border-bottom: 1px solid #F2F5F8
    margin-bottom: 5px
    &:last-of-type
      border-bottom: none

    label
      margin-right: 10px