.news
  &-item
    display: inline-block
    width: 100%
    clear: both
    border-bottom: 1px solid $color-palette-3
    +padding-trailer(1.5)
    +trailer(1.5)

  &-figure
    float: left
    padding-right: 30px
    margin-bottom: 0
