td
	margin-bottom: 0
	vertical-align: top
.programacao a strong
	color: #ea9a37

.programacao
	span, strong
		text-transform: uppercase

	tr
		border-bottom: 1px solid $color-palette-1

	td
		text-align: left
		padding: 4px
		border-left: 1px solid $color-palette-1
		text-transform: uppercase
		h5
			text-transform: uppercase
			a
				color: $color-txt !important
				text-transform: uppercase

	th
		text-align: left
		width: 30%
		padding: 4px
		text-transform: uppercase
		h5
			color: $color-palette-1
			text-transform: uppercase

	h5
		font-weight: 700
		text-transform: uppercase

	h6
		+adjust-font-size-to(16px, 1)
		text-transform: uppercase
		a
			color: #5ac4be

	.titListaProg
		+adjust-font-size-to(24px)
		font-weight: 700
		color: $color-palette-7
		text-transform: uppercase

.form-filter
