.breadcrumbs
  background-color: $color-palette-7
  +trailer(2)
  &__wrapper
    +container(964px)
    padding-left: 30px
    padding-right: 30px
    position: relative
  &__list
    display: inline-block
    width: 100%
  &__item
    display: inline-block
    margin-right: 30px
  &__link
    display: block
    +adjust-font-size-to(18px)
    +trailer(.5)
    +leader(.5)
    font-family: 'Fjalla One', sans-serif
    text-transform: uppercase
    color: #fff