.btn
  display: table
  +adjust-font-size-to(18px, 2)
  font-weight: 700
  font-family: $font-family-title
  color: white
  text-transform: uppercase
  text-decoration: none
  text-align: center
  background-color: $color-palette-2
  +padding-trailer(1)
  +padding-leader(1)
  padding-left: 50px
  padding-right: 50px
  margin-right: auto
  margin-left: auto


.readmore
  &-link
    +adjust-font-size-to(24px)
    font-family: $font-family-title
    font-weight: 700
    text-transform: uppercase
    text-decoration: none
    color: #fac02a