.filter
  &-form
    display: inline-block
    width: 100%

  &-input,
  &-submit
    width: 100%
    box-sizing: border-box
    +adjust-font-size-to(16px, 1)
    outline: none
    text-transform: uppercase
    font-family: $font-family-title
    +apply-side-rhythm-border(all, 1px, 1, 18px, solid #38c2d4)
    color: #38c2d4
    letter-spacing: .05em

  &-submit
    width: 100%
    background-color: #38c2d4
    color: white
    font-weight: 700
    transition: $transition-default
    cursor: pointer
    text-align: center!important
    &:hover

  &-days
    +trailer(2.5)
    p
      +trailer(.5)
      font-weight: 700
      text-transform: uppercase
    ul
      display: block
      li
        display: inline-block
        a
          display: block
          padding: 8px
          border: 1px solid #38c2d4
          color: #38c2d4
          transition: $transition-default
          &:hover,
          &.active
            background-color: #38c2d4
            color: white