.menu-button
  width: 60px
  height: 60px
  border-radius: 50%
  background-color: $color-palette-7
  text-align: center
  position: relative
  display: inline-block
  cursor: pointer
  transition: .5s ease-in-out
  .burger
    width: 30px
    height: 23px
    transform: rotate(0deg)
    transition: .5s ease-in-out
    position: absolute
    top: 50%
    left: 50%
    margin-left: -15px
    margin-top: -11.5px
    .b, b
      display: block
      position: absolute
      height: 5px
      width: 100%
      background: $color-palette-8
      opacity: 1
      left: 0
      transform: rotate(0deg)
      transition: .25s ease-in-out

      &:nth-child(1)
        top: 0

      &:nth-child(2),
      &:nth-child(3)
        top: 9px

      &:nth-child(4)
        top: 18px

.menu-button
  &:hover
    .b, b
      background-color: #fff

+media("<=phone")
  .menu-button
    width: 40px
    height: 40px
    .burger
      width: 20px
      height: 17px
      margin-left: -10px
      margin-top: -8.5px
      .b, b
        height: 3px
        &:nth-child(1)
          top: 0

        &:nth-child(2),
        &:nth-child(3)
          top: 7px

        &:nth-child(4)
          top: 14px