.pagination
  display: inline-block
  width: 100%
  text-align: center
  &__title
    font-family: 'Fjalla One', sans-serif
    text-transform: uppercase
    display: inline-block
    margin-right: 25px
  &__list
    display: inline-block
  &__item
    display: inline-block
    font-family: 'Fjalla One', sans-serif
    margin-left: 8px
    margin-right: 8px
  &__link
    color: $color-txt
    &:hover
      color: $color-palette-7
