.owl-dots
  position: absolute
  text-align: center
  bottom: 50px
  left: 50%
  transform: translateX(-50%)
  z-index: 999
  .owl-dot
    display: inline-block
    zoom: 1
    span
      display: block
      width: 20px
      height: 20px
      border:
        radius: 50%
        color: $color-palette-1
        width: 2px
        style: solid
      margin-left: 12px
      margin-right: 12px
    &.active
      span
        background-color: $color-palette-1

.owl-nav
  .owl-prev,
  .owl-next
    position: absolute
    background-color: transparent
    border: none
    outline: 0
    cursor: pointer
    color: #fff
    font-size: 90px
    color: $color-palette-1
  .owl-prev
    left: 45px
  .owl-next
    right: 45px