//------------------------------------*\
//    #SPRITES
//------------------------------------*/

$icons: sprite-map("../images/sprite/*.png", $layout: vertical, $spacing: 10px)

.sprite
  background: $icons
  overflow: hidden
  text-indent: -9999px
  display: block

@each $i in sprite_names($icons)
  .sprite-#{$i}
    background-position: sprite-position($icons, $i)
    +sprite-dimensions($icons, $i)

    &.va, &.ha
      position: absolute

    &.fva, &.fha
      position: fixed

    &.va, &.fva
      top: 50%
      margin-top: -(image-height(sprite-file($icons, $i)) / 2)

    &.ha, &.fha
      left: 50%
      margin-left: -(image-width(sprite-file($icons, $i)) / 2)