//------------------------------------*\
//    #VARIABLES
//------------------------------------*/

//
// Colors
//
$color-txt: #000

$color-selection-txt: #fff
$color-selection-bg: #c00

$color-pallete-1: #F99D27
//$color-pallete-2: #369fc8
$color-pallete-2: #3D4366
$color-pallete-3: #fba937
$color-pallete-4: #9162aa
$color-pallete-5: #99d3ed
$color-pallete-6: #434344
$color-pallete-7: #289ecb
$color-pallete-8: #f4e343
$color-pallete-9: #f9f9f9
$color-pallete-10: #4a4a4a
$color-pallete-11: #c2435c
$color-pallete-12: #d1d2d4
$color-pallete-13: #424244



//
// Transitions
//
$transition-default: all 200ms linear, z-index 0ms, display 0ms
$transition-lazy: all 250ms linear, z-index 0ms, display 0ms
$transition-default-with-delay: all 200ms linear 200ms, z-index 0ms, display 0ms
