@import url('https://fonts.googleapis.com/css?family=Oswald:400,600,700|Roboto:400,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

@font-face {
  font-family: 'Universoproducao';
  src:  url('../fonts/Universoproducao.eot?gz5e0y');
  src:  url('../fonts/Universoproducao.eot?gz5e0y#iefix') format('embedded-opentype'),
  url('../fonts/Universoproducao.ttf?gz5e0y') format('truetype'),
  url('../fonts/Universoproducao.woff?gz5e0y') format('woff'),
  url('../fonts/Universoproducao.svg?gz5e0y#Universoproducao') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Universoproducao' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube2:before {
  content: "\e90d";
}
.icon-linkedin:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e901";
}
.icon-youtube:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}
.icon-universo-producao:before {
  content: "\e904";
}
.icon-mouse-bottom:before {
  content: "\e905";
}
.icon-user2:before {
  content: "\e906";
}
.icon-user3:before {
  content: "\e907";
}
.icon-user4:before {
  content: "\e908";
}
.icon-menu-round:before {
  content: "\e909";
}
.icon-eufacoamostra:before {
  content: "\e90a";
}
.icon-brand:before {
  content: "\e90b";
}
.icon-brasilcinemundi:before {
  content: "\e90c";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-instagram2:before {
  content: "\ea92";
}
.icon-user42:before {
  content: "\eb09";
}
.icon-user7:before {
  content: "\eb0e";
}
.icon-search3:before {
  content: "\eb36";
}
.icon-menu:before {
  content: "\ec71";
}
.icon-menu7:before {
  content: "\ec72";
}
.icon-plus2:before {
  content: "\ed5b";
}
.icon-plus3:before {
  content: "\ed5d";
}
.icon-plus-circle:before {
  content: "\ed5f";
}
.icon-cross2:before {
  content: "\ed6d";
}
.icon-play4:before {
  content: "\ed85";
}
.icon-arrow-right:before {
  content: "\edbb";
}
.icon-arrow-right4:before {
  content: "\edbe";
}
.icon-arrow-down2:before {
  content: "\edc0";
}
.icon-arrow-down4:before {
  content: "\edc2";
}
.icon-arrow-left:before {
  content: "\edc3";
}
.icon-arrow-left4:before {
  content: "\edc6";
}
.icon-arrow-down7:before {
  content: "\edd8";
}
.icon-arrow-left7:before {
  content: "\edda";
}
.icon-arrow-right8:before {
  content: "\edde";
}
.icon-circle-down6:before {
  content: "\ee31";
}
.icon-facebook:before {
  content: "\eeef";
}
.icon-instagram:before {
  content: "\eef1";
}
.icon-twitter:before {
  content: "\eef5";
}
.icon-flickr:before {
  content: "\ef02";
}
