.banner
  position: relative
  width: 100%
  +trailer(2)
  &-caption
    +adjust-font-size-to(14px)
    font-style: italic
    position: absolute
    bottom: 0
    right: 0
    padding: 10px
    color: white
    background-color: black
    opacity: .4
  .owl-dots
    position: absolute
    bottom: 0