.news
  &__item
    display: inline-block
    width: 100%
    clear: both
    border-bottom: 1px solid $color-palette-3
    +padding-trailer(1.5)
    +trailer(1.5)

  &__title
    +adjust-font-size-to(36px, 2)
    +trailer(1, 36px)
    color: $color-palette-7
    font-family: 'Fjalla One', sans-serif
    text-transform: uppercase
  &__figure
    float: left
    padding-right: 30px
    margin-bottom: 0
