.footer
  width: 100%
  +leader(1)
  +padding-leader(2)
  background-color: $color-pallete-9
  &__wrapper
    +container($full-site)
    padding-left: 30px
    padding-right: 30px
    text-align: left
    position: relative
  &__title
    +adjust-font-size-to(24px, 1)
    font-weight: 800
    color: $color-pallete-2
    text-transform: uppercase

  &__newsletter,
  &__contact
    +grid(2, 4, $cycle: 2, $gutter: 60px)

  .newsletter
    +trailer(1)
    &__input
      +trailer(.5, 16px)
      +apply-side-rhythm-border(all, 1px, .5, 16px, solid $color-pallete-1)
      color: $color-pallete-6
      background-color: $color-pallete-9
    &__button
      +adjust-font-size-to(16px)
      width: 100%
      height: 2*$base-line-height
      font-weight: 400
      background-color: $color-pallete-2
      text-transform: uppercase
      color: #fff
  .contact
    &__brand
      display: inline-block
      font-size: 120px
      color: $color-pallete-6
      vertical-align: middle
    &__add
      display: inline-block
      margin-left: 40px
      vertical-align: middle
      p
        +trailer(.5)
        +adjust-font-size-to(14px, .5)
        color: $color-pallete-6
        text-transform: uppercase
        vertical-align: text-top

  .sitemap
    clear: both
    display: inline-block
    width: 100%
    +clearfix
    +leader(3)
    +padding-leader(1)
    +trailer(3)
    border-top: 1px solid $color-pallete-2

    &__items
      >.sitemap__item
        +grid(1, 4)
        >.sitemap__link
          +adjust-font-size-to(18px)
          font-weight: 800
          color: $color-pallete-2
          text-transform: uppercase
          +trailer(.5)
      &--sub
        padding-left: 16px

    &__link
      display: block
      +adjust-font-size-to(16px)
      color: $color-pallete-10
      +trailer(.5)

  &__end
    width: 100%
    +padding-leader(1)
    clear: both
    background-color: $color-pallete-6
    .social
      display: inline-block
      &__item
        display: inline-block
        margin-left: 32px
        margin-right: 32px
        &:first-child
          margin-left: 0
        &:last-child
          margin-right: 0
      &__link
        font-size: 36px
        color: $color-pallete-2
        &:hover
          color: #fff

    .site
      display: inline-block
      text-align: right
      float: right
      +leader(.5)
      .readmore
        +trailer(.5)
      .readmore__link
        color: $color-pallete-2
        span
          display: inline-block
          width: 24px
          height: 24px
          border-radius: 50%
          background-color: $color-pallete-2
          color: #fff
          font-size: 12px
          line-height: 24px
          text-align: center
        &:hover
          color: #fff
          span
            color: $color-pallete-6
            background-color: #fff


    .copy
      display: inline-block
      width: 100%
      color: #fff
      text-align: center
      text-transform: uppercase
      +leader(1)
      +padding-leader(1)
      border-top: 1px solid #fff
      +adjust-font-size-to(12px)

+media("<tablet")
  .footer
    &__newsletter,
    &__contact
      +grid(1, 1, $cycle: 0, $gutter: 0)
    &__newsletter
      +trailer(2)
    &__contact
      +trailer(2)
    .sitemap
      display: none

    &__end
      .social
        &__item
          display: inline-block
          margin-left: 20px
          margin-right: 20px

+media("<570px")
  .footer
    &__end
      .social,
      .site
        float: none
        display: block
        width: 100%
        margin-left: auto
        margin-right: auto
        text-align: center
        text-align: center
      .social
        &__item
          margin-left: 18px
          margin-right: 18px
        &__link
          font-size: 24px
      .site
        +leader(2)
        .readmore__link
          +adjust-font-size-to(16px)
    .contact
      &__add
        margin-left: 10px

+media("<phone")
  .footer
    .contact
      &__add,
      &__brand
        display: block
        margin-left: 0
