.main
  +clearfix

  &__wrapper
    +container($full-site)
    padding-left: 30px
    padding-right: 30px

  &__title
    +adjust-font-size-to(48px, 2.5)
    font-weight: 800
    text-transform: uppercase
    color: $color-pallete-2
    +trailer(.5, 24px)

  &__subtitle
    +adjust-font-size-to(18px, 1)
    font-weight: 800
    text-transform: uppercase
    color: #000
    +trailer(1, 24px)

  &__time
    +trailer(1)
    color: $color-pallete-12