.news__list
	+custom-clearfix
	+cf
	clear: both
	position: relative

	&__header,
	&__item
		position: relative
		box-sizing: border-box

		+trailer(0.5)

	&__wrapper
		+stretch
		img
			max-width: 100%

		&:before
			content: ''

	.news__item
		display: inline-block
		&-thumb
			+col(3/6)
			line-height: 0
			overflow: hidden
			img
				transition: $transition-default
				width: 100%

		&-title
			+adjust-font-size-to(24px, 1)
			+leader(1, 24px)
			+trailer(1, 24px)
			color: #000
			transition: $transition-default
			&--top
				+leader(.5)
				+trailer(.5)


		&-intro
			+adjust-font-size-to(18px)
			+trailer(.5)
			color: $gray4a4
			transition: $transition-default
			&:before
				content: ''
				display: block
				width: 30%
				+trailer(.5)
				height: 1px
				border:
					top: 1px solid $main-color

		&-date
			+adjust-font-size-to(14px, 1)
			font-weight: 300
			font-style: italic
			color: $main-color
			text-transform: uppercase

		&-link
			transition: $transition-default
			&:hover
				.news__item-thumb
					img
						transform: $scale-img-default

				.news__item-title,
				.news__item-intro
					color: $main-color
	&__read-more
		+col(1.5/6)
		position: absolute
		left: 0
		bottom: 0

		&:before
			content: "\66"
			+adjust-font-size-to(22px)
			font-family: "Universo Icons" !important
			font-style: normal !important
			font-weight: normal !important
			font-variant: normal !important
			text-transform: none !important
			speak: none
			line-height: 1
			-webkit-font-smoothing: antialiased
			-moz-osx-font-smoothing: grayscale

			position: absolute
			left: 100%
			top: 50%

	&__read-more-link
		+adjust-font-size-to(16px, 1)
		font-weight: 700
		text-transform: uppercase
		color: #000
		transition: $transition-default
		&:hover
			color: $main-color