/seminar-subscription-list.jasper
/educational_project.jasper
/educational_project_list.jasper
/movie.jasper
/movie_list.jasper
/project.jasper
/project_list.jasper
/seminar-confirmation.jasper
/session-confirmation.jasper
/workshop-confirmation.jasper
/workshop_details.jasper
/workshop_subscription.jasper
