.btn
  display: inline-block
  font-family: $font-family-alternate
  font-weight: 700
  text-transform: uppercase
  text-decoration: none
  background-color: #00a78e
  color: white
  padding: 6px
  box-shadow: 3px 3px 0px 0px rgba(255,255,255,1)
  transition: $transition-default
  border: none
  cursor: pointer
  span
    display: block
    background-color: white
    +padding-trailer(1)
    +padding-leader(1)
    padding-left: 18px
    padding-right: 18px
    transition: $transition-default
    color: white
    background-color: #00a78e



