.owl-dots
  position: relative
  width: 100%
  text-align: center
  opacity: .5
  +trailer(1)
  .owl-dot
    display: inline-block
    width: 15px
    height: 15px
    border: 1px solid white
    border-radius: 100%
    margin-left: 7px
    margin-right: 7px
    cursor: pointer
    &.active
      background-color: white