//------------------------------------*\
//    #TRICKS
//------------------------------------*/

//
// Compass definitions
//
$legacy-support-for-ie8: true
$experimental-support-for-svg: true
$inline-block-alignment: bottom
$userselect-support-threshold: $graceful-usage-threshold

$debug: false
$base-font-size: 18px
$base-line-height: 24px
$grid-background-baseline-color: rgba(0,0,0,.1)
$grid-background-baseline-height: ($base-line-height / 2)


$breakpoints: ('phone': 320px, 'tablet': 768px, 'desktop': 1024px)


// Sizes

$full-site: 1220px
$gutter: 16px

//
// Jeet config
//
$jeet-gutter:           1.311475409836066 !default
$jeet-parent-first:     false  !default
$jeet-layout-direction: "LTR"  !default
$jeet-max-width:        1220px !default