//------------------------------------*\
//    #VARIABLES
//------------------------------------*/

//
// Font Base
//
$font-family-base: "Lato", Arial, Helvetica, sans-serif

//
// Colors
//
$color-selection-txt: #fff
$color-selection-bg: #c00

$orangeF8B: #d43829
$main-color: $orangeF8B

$beige918: #918767
$base-color-text: $beige918

$gray838: #838383
$gray899: #899c97
$gray343: #343233
$gray918: #918767
$grayD6E: #d6e1de
$gray4a4: #4a4a4a
$grayF4F: #f4f4f4
$grayB9B: #b9b9b9
$grayDCD: #dcdcdc

$blue1C7: #1c7383

//
// Transitions
//
$transition-default: all 100ms linear, z-index 0ms, display 0ms
$transition-lazy: all 250ms linear, z-index 0ms, display 0ms
$transition-default-with-delay: all 200ms linear 200ms, z-index 0ms, display 0ms

$scale-img-default: scale(1.05)