html {
  background-color: #FCBE43;
}

html, body {
  margin: 0;
  padding: 0;
}

.all {
  position: relative;
}

.brand {
  width: 100%;
  max-width: 1500px;
}

.brand-mobile {
  display: none;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
}

.brand img, .brand-mobile img {
  width: 100%;
}

.text {
  font-family: 'Roboto Condensed', sans-serif;
  max-width: 1500px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: -200px;
  text-align: right;
  position: relative;
  padding-right: 60px;
  padding-left: 60px;
  box-sizing: border-box;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
}

.white {
  color: white;
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.pink {
  color: #EA2E87;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 48px;
}

.link a {
  color: white;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

@media only screen and (max-width: 1600px) {
  .brand {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 1400px) {
  .brand {
    max-width: 900px;
  }
  .text {
    margin-top: -100px;
  }
}

@media only screen and (max-width: 1062px) {
  .brand {
    display: none;
  }

  .brand-mobile {
    display: block;
  }

  .text {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .white {
    font-size: 30px;
  }

  .pink {
    font-size: 36px;
  }

  .link a {
    font-size: 24px;
  }
}
