//------------------------------------*\
//    #TRICKS
//------------------------------------*/

$font-family-base: 'Roboto', sans-serif
$font-family-title: 'Oswald', sans-serif

//
// Compass definitions
//
$legacy-support-for-ie8: true
$experimental-support-for-svg: true
$inline-block-alignment: bottom
$userselect-support-threshold: $graceful-usage-threshold
$input-placeholder-support-threshold: $graceful-usage-threshold


//
// Jeet config
//
$full-site: 1260px
$gutter: 20px

$jeet: (gutter: 1.587301587301587, max-width: 1260px, layout-direction: LTR, parent-first: false)