//------------------------------------*\
//    #TRICKS
//------------------------------------*/
$font-family-base: "Open Sans", Arial, Helvetica, sans-serif

//
// Compass definitions
//
$legacy-support-for-ie8: true
$experimental-support-for-svg: true
$inline-block-alignment: bottom
$userselect-support-threshold: $graceful-usage-threshold
$input-placeholder-support-threshold: $graceful-usage-threshold


//
// Sizes
//
$full-site: 960px
$gutter: 16px

$default-container-with: 100% !default
$default-gutter: 16px !default
$default-direction: 'ltr' !default
$default-edges: false !default
$default-cols: 4 !default

//
// breakpoints
//
$breakpoints: ('phone': 320px, 'tablet': 768px, 'desktop': 1024px)