.footer
	+expand
	background-color: $color-palette-3

	&__wrapper
		+center($full-site, 16px)
		text-align: left
		position: relative
		z-index: 9999
		zoom: 1
		&:before,
		&:after
			content: ''
			display: table

		&:after
			clear: both

	.newsletter
		+padding-leader(2)
		+trailer(2)
		&__title
			width: 100%
			+inline-block
			+adjust-font-size-to(24px, 1)
			font-weight: 900
			text-transform: uppercase
			color: $color-txt
		&__form
			+cf

			.form__input,
			.form__button
				+box-sizing(border-box)
				+col(1/6)
				border-color: $main-color
				&--big
					+col(2/6)

			.form__input
				background-color: $color-palette-3
				&::-webkit-input-placeholder
					color: $color-palette-1

				&:-moz-placeholder
					color: $color-palette-1

				&::-moz-placeholder
					color: $color-palette-1

				&:-ms-input-placeholder
					color: $color-palette-1

			.form__button
				color: #fff
				background-color: $main-color
				border: $main-color
				text-align: center

	.contact
		background: url("../images/universo320.jpg") no-repeat no-repeat
		background-size: cover
		position: relative
		width: 100%
		&:before
			content: ""
			position: absolute
			top: 0
			bottom: 0
			left: -100%
			right: 0
			background-color: rgba(0,0,0,0.7)
			z-index: 1

		&__links
			+col(1/5)
			+leader(1)

		&__link
			color: #fff
			font-weight: 700
			text-transform: uppercase
			box-sizing: border-box
			display: block
			+trailer(1)
			cursor: pointer
			transition: $transition-default
			&:hover
				color: $main-color

			&-icon
				text-align: center
				display: inline-block
				vertical-align: middle
				+adjust-font-size-to(24px, 1)
				+padding-leader(.5, 24px)
				+padding-trailer(.5, 24px)
				width: 48px
				height: 48px
				border: 1px solid #fff
				box-sizing: border-box
				transition: $transition-default
			&-text
				padding-left: 18px

		&__address
			+col(4/5)
			+leader(1.5)
			+trailer(1.5)
			position: relative
			&:before
				content: ''
				position: absolute
				top: 0
				right: 0
				width: calc(100% - #{$base-line-height*2})
				height: calc(100% - #{$base-line-height*4})
				+leader(2)
				+trailer(2)
				border: 3px solid $main-color
				box-sizing: border-box

			&-map
				+span(3/5)
				overflow: hidden
				iframe
					width: 100%
					height: 13 * $base-line-height

			&-text
				+span(2/5)
				+leader(3.5)
				p
					box-sizing: border-box
					padding-left: 16px
					padding-right: 16px
					color: #fff
					font-weight: 300

				.contact__address-title
					color: $main-color
					font-weight: 700
					text-transform: uppercase

	.copy
		+padding-leader(1)
		background-color: $color-palette-7

		&__text,
		.back-to-top
			+adjust-font-size-to(12px)
			text-transform: uppercase

		&__text
			font-family: "Ubuntu", Arial, Helvetica, sans-serif
			color: $color-palette-8
			display: inline-block

		.back-to-top
			display: inline-block
			float: right
			text-align: right
			color: $main-color
			&:hover
				color: $color-palette-8
			span
				display: inline-block
				vertical-align: middle
				padding-left: 10px

				&:first-of-type
					font-style: italic
					letter-spacing: .2em
