.header
	display: inline-block
	position: relative
	width: 100%
	box-sizing: border-box
	+leader(1.5, 24px)
	+trailer(1.5, 24px)
	+padding-trailer(1.5, 24px)
	border-bottom: 3px solid $main-color
	z-index: 100

	&__left
		width: 40%
		float: left

		.brand
			+trailer(0)
			vertical-align: middle

			&-link
				+inline-block

			&-logo
				display: block
				float: left
				font-size: 72px
				width: 72px
				line-height: 3 * $base-line-height
				font-family: "Universo-fonticons", Arial, Helvetica, sans-serif
				color: #000

			&-name
				font:
					size: 24px
					weight: 700
				color: #000
				display: inline-block
				float: left
				line-height: $base-line-height
				margin: (.5 * $base-line-height) 0
				padding-left: 5px

	&__right
		width: 60%
		float: left
		text-align: right

		.usermenu
			&__list
				text-align: right

			&__item
				display: inline-block
				vertical-align: middle
				margin-left: 16px
				margin-right: 16px
				&:last-child
					margin-right: 0
			&__link
				display: block
				position: relative
				+adjust-font-size-to(28px, 2)
				+padding-leader(.5, 28px)
				+padding-trailer(.5, 28px)
				//width: 72px
				text-align: center
				text-decoration: none
				color: $main-color