.data-copy
	position: relative
	color: inherit
	text-decoration: none
	padding-right: 100px
	transition: all .2s linear,z-index 0ms,display 0ms
	&:hover
		text-decoration: none
		&:after
			content: "copy"
			position: relative
			padding-left: 8px

