.fileinput
	.fileinput-remove,
	.fileinput-preview
		display: none


	&.fileinput-exist
		.fileinput-remove,
		.fileinput-preview,
			display: inline-block

		.fileinput-new
			display: none

