.post
	.post-sidebar
		.item
			font-size: 15px
			margin-top: 10px
			.title
				+inline-block
				i
					margin-right: 12px
			span
				margin-left: 5px
			a
				margin-left: 6px
				color: #0074a2
				text-decoration: underline
				vertical-align: baseline
			.options
				margin-top: 5px

	.select-image
		.select-image-remove,
		.select-image-input-caption
			display: none

	.select-image-has-image
		.select-image-remove,
		.select-image-input-caption
			display: inline-block