.table
	.table-in-td
		background-color: transparent
		margin-bottom: 0

		tr
			&:first-of-type
				td
					padding-top: 0
					border-top: none
			&:last-of-type
				td
					padding-bottom: 0
			td
				padding-left: 0
				padding-right: 0